@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Web
@using HengcordTCG.Blazor.Client

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@6/css/all.min.css" rel="stylesheet">
    <HeadOutlet />
</head>
<body class="dark-theme">
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

    <div id="blazor-error-ui">
        An error has occurred. This application may no longer respond until reloaded.
        <a href="">Reload</a>
    </div>

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
